h1 {
    text-align: center;
    color:gold;
    font-size: 40px;
    font-family: 'Comic Sans MS', impact;
    
    
}

body, html {
    background: url(../img/buildings.png) no-repeat center center fixed; 
    background-size: cover;
   
}
.box {
    width: 900px;
	margin: 0px auto;
	border-radius: 30px;
	background: url(../img/blue.png) ;
	padding: 0px;
	border-style: solid;
	border-width: 10px;
} 

h3 {
    color:white;
    font-weight:bold;
}

.card {
    display: inline;
    color:black;
    padding: 0px;
    
}
#score {
   
    color:maroon;
    text-decoration: underline;
    padding-left: 100px;
    
}
.h3 {
    display:inline;
}
.try {
    display:inline;
    text-align: center;
    padding-left: 200px;
    font-size: 20px;
    
}
input {
    top:250px;
    left:1090px;
    position:absolute;
    font-size:1.5em;
    background-color: transparent;
    border:none;
    outline:none; /*hides button outline when clicking on it*/
    font-weight:bold;
    color:yellow;
    cursor: pointer;
}
#elapsedTime{
    color: maroon;
    font-size: 25px;
    text-align: center;
}